 @import url('https://fonts.googleapis.com/css2?family=Nova+Round&family=Quicksand:wght@500&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@500&family=Nova+Round&family=Quicksand:wght@500&display=swap');
html{
  --standardLogoBg: #e72e77;
  --headerBg: #e72e77;
}
.header {
  background: url("https://image.wedmegood.com/resized/1900X/uploads/city_bg_image/1/delhi_bg.jpeg");
  color: #fff;
  height: 500px;
  background-position: center;
  overflow: hidden;
}
.header .topTxt .left,
.header .topTxt .right{
  width: 50%;
  font-family: Big Shoulders Stencil Display;
}
.header .logoPan{
  height: 320px;  
  width: 200px;
  position: absolute;
  bottom: -90px;
  border-radius: 200px 200px 0 0;
  overflow: hidden;
  width: max-content;
}
.header .logoPan .logo img{
  height: 300px;
  top: -20px;
  background: var(--headerBg);
}
.menuPan{
  justify-content: space-between;
  overflow: auto;
  font-family: "Nova Round";
  position: sticky;
  top: 10px;
  background: #e72e77;
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  z-index: 1;
}
.menuPan .menuList{
  width: calc(100% - 50px);
  justify-content: flex-start;
  overflow: auto;
}
.menuList .menuItem{
  padding: 10px;
  cursor: pointer;
  font-size: 1.1em;
  color: #fffd;
  transition: all .25s;
  min-width: 150px;
  height: 50px;
}
.menuList .menuItem span{
  margin: 2px;
}
.menuList .menuItem:hover{
  color: #fff;
}
.seeMore{
  right: 0;
  top: 0;
  position: absolute;
  background: #e72e77;
  box-shadow: -10px 0 30px #e72e77;
  align-items: flex-end;
  width: 60px;
  height: 50px;
  padding-right: 15px;
  
}
.seeMore span{
  display: block;
  width: 30px;
  height: 2px;
  background: #fff;
  margin: 4px 0;
}
.seeMore span::after{
  position: absolute;
  content: '';
  width: 2px;
  aspect-ratio: 1/1;
  background: #fff;
  border-radius: 50%;
  left: -5px;
}
.seeMore span:nth-child(2){
  width: 10px;
}
.seeMore span:nth-child(3){
  width: 18px;
}

/* MENU CSS */
.menuBox{
  position: fixed;
  width: 0px;
  border-radius: 10px;
  right: 10px;
  z-index: 100;
  background: #f1f1ff;
  color: #000c;
  max-height: calc(100vh - 200px);
  overflow: auto;
  transition: all .25s;
  opacity: 0;
  z-index: 1000;
  user-select: none;
  -webkit-user-select: none;
  border: 2px solid #fff;
}
.menuBox.active{
  width: 300px;
  box-shadow: 0 5px 10px #0001;
  opacity: 1;
}
.menuBox *{
  transition: all .25s;
}
.menuBox .list{
  height: 1em;
  padding: 25px;
  justify-content: flex-end;
  transition: all .1s;
}
.menuBox .list:hover{
  background: #0001;
  cursor: pointer;
}
.menuBox .list .ico{
  margin-right: 10px;
}
.menuBox .list .menuToShow{
  transform: scale(.7,1);
  opacity: 0;
}
.menuBox .list .menuToShow.active{
  transform: scale(1,1);
  opacity: 1;
  text-align: right;
}