.services{
  background: radial-gradient(#004160,#0a0129);
  color: #fff;
  padding-top: 20px;
}
.serveBox{
  flex-flow: row wrap;
}
.serveBox .serve4{
  flex-flow: row wrap;
  max-width: 498px;
  width: calc(100% - 20px);
  aspect-ratio: 5/2;
  margin: 20px;
  background: #fff1;
  box-shadow: inset 1px 1px 2px #fff2,
    inset -1px -1px 2px #fff2;
  border-radius: 10px;
  overflow: hidden;
}
.serve4 .scrollPanel{
  height: 100%;
}
.serve4 .scrollPanel scrollbar{
  width: none;
  height: none;
}
.serve4 .scrBar{
  height: 100%;
  overflow: hidden;
  position: sticky;
  left: 0;
  top: 0;
}
.serve4 .scrBar *{
  transition: all .5s;
}
.serve4 .scrBar .scr{
  background: #fff;
  width: 80%;
  aspect-ratio: 5/2;
  position: absolute;
  transition: left .5s;
  border-radius: 10px;
}
.serve4 .scrBar .scrLeft,
.serve4 .scrBar .scrRight{
  transform: scale(.8);
  opacity: .8;  
}
.serve4 .scrBar .scrRight{
  left: 86%;
}
.serve4 .scrBar .scrLeft{
  left: -66%;
}
.serve4 .scrBar .scr img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 570px){
  .serveBox .serve4{
    margin: 20px 5px;
  } 
}
