.services{
  background: radial-gradient(#002a4f,#0a0129);
  color: #fff;
  padding-top: 20px;
}
.serveBox{
  flex-flow: row wrap;
}
.serveBox .serve4{
  flex-flow: row wrap;
  max-width: 498px;
  margin: 20px;
  background: #fff;
  border-radius: 10px;
  
}
.serveBox .serve4 .serve{
  margin: 20px;
  border-radius: 11px;
  border: 4px solid #444;
  overflow: hidden;
}
.serveBox .serve4 .serve p{
  position: absolute;
  left: 0;
  bottom: 0;
  background: #000;
  color: #fffe;
  padding: 30px 5px 5px 5px;
  border-radius: 0 0 5px 5px;
  background: linear-gradient(#0000,#000);
}
.serveBox .serve4 .serve img{
  width: 200px;
  aspect-ratio: 1/1;
  border-radius: 8px;
  object-fit: cover;
  transition: all .25s;
}
.serveBox .serve4 .serve:hover img{
  transition: all .45s cubic-bezier(.25,.36,0,1.35);
  transform: scale(1.3);
  filter: brightness(1.2);
}
.serveBox .serve4 .serve:hover p{
  color: #fff;
}

@media screen and (max-width: 570px){
  .serveBox .serve4{
    width: 360px;
    margin: 20px 5px;
  }
  .serveBox .serve4 .serve{
    margin: 10px;
  }
  .serveBox .serve4 .serve img{
    width: 150px;
  }
  
}